# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# System files
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Streamlit
.streamlit/secrets.toml

# Ignore local vector store (incompatible with Cloud Linux)
chroma_db/

# Allow raw data files to be uploaded so we can rebuild the DB on Cloud
!data/
